<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <% const name = "mario" %> Home
    <%=name%> <%= title %>
    <div>
      <% users.forEach(user => { %>
      <h1><%= user.name %></h1>
      <p><%= user.age %></p>
      <% }); %>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
